<div class="d-flex flex-column justify-conte nt-center align-items-center">
  <%= image_tag "pfp.png", class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.5rem" %>
  <small style="max-width: 3.5rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">Username is clemllllll</small>
</div>
